﻿.date-picker-wrapper {
    display: none !important;
}

.k-datepicker {
    display: none !important;
}

.k-datetimepicker {
    display: none !important;
}

select.hour {
    border: none;
}

select.minut {
    border: none;
}

.p-datetimepicker {
    border: solid 1px #808080;
    padding: 3px 5px;
}

    .p-datetimepicker input {
        border: none;
        max-width: 70px;
    }

        .p-datetimepicker input[type=text]:focus {
            border: none !important;
        }

        .p-datetimepicker input.full-date-time {
            border: none;
            max-width: 170px;
            direction: ltr;
        }

    .p-datetimepicker .colon {
        font-size: 1.5em !important;
        padding: 5px;
    }

    .p-datetimepicker .mount, .p-datetimepicker .day {
        border: none;
        position: relative;
    }
