@using Nop.Core
@using Nop.Services.Configuration
@inject ISettingService settingService
@inject IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");

    var homePageProductsCarouselBreakPoints =
        settingService.GetSettingByKey("EmporiumThemeSettings.ResponsiveBreakpointsForHomePageProducts", "", storeContext.CurrentStore.Id, true);
}
<style>
    .traking-items {
        list-style: none;
    }

        .traking-items li {
            display: block;
            width: 100%;
            padding: 2px 5px;
			border-bottom: 1px solid #555;
        }
		
            .traking-items li span {
                display: inline-block;
            }
            .traking-items li.header span {
                font-weight:bold;
                display: inline-block;
            }
.traking-items li.header{
border:none;
}
        

    .first.name {
        width: 18%;
        padding: 10px 2px;
    }

    .last.name {
        width: 18%;
        padding: 10px 2px;
    }

    .traking.no {
        width: 30%;
        padding: 10px 2px;
    }
	.destination{
		width: 10%;
        padding: 10px 2px;
	}
    .date {
        width: 18%;
        padding: 10px 2px;
    }

    #body {
        width: 50%;
        float: right;
    }

    .image {
        float: left;
        width: 48%;
    }

    #traking_list {
        width: 100%;
        float: none;
        margin: auto;
        clear: both;
    }

    #traking_go {
        font-family: 'Roboto';
        height: 45px;
        width: 19%;
        color: #fff;
        background-color: deepskyblue;
        border: none;
    }

    #traking_key {
        width: 80%;
    }

    #body p {
        border: 1px solid;
        padding: 20px 5px;
        margin-bottom: 20px;
    }
</style>
<div id="body">
    <p>
        جهت دریافت شماره مرسوله پستی سفارش خود می&zwnj;بایست پس از 24 ساعت در روز&zwnj;های کاری به این پنل مراجعه نمایید.
        لازم به ذکر است که روز&zwnj;های پنج شنبه و جمعه و همچنین ایام تعطیل جزء روز&zwnj;های کاری نمی&zwnj;باشند.
    </p>
    <header>
        <h3>شماره همراه درج در فاکتور را وارد نمایید.</h3>
    </header>
    <div class="field_wrapper">

        <div class="editor_text">
            <input type="text" placeholder="شماره تلفن همراه" id="traking_key">
            <button type="button" class="search-button" id="traking_go">جستجو...</button>
        </div>
    </div>

</div>
<div class="image">
    <img src="post.jpg" />
</div>
<div id="traking_list"></div>

<script>
    $(document).ready(function () {
        $("#traking_go").click(function () {

            $.post("/GetTrakingNo/" + $("#traking_key").val()).then(function (a) {
                $("#traking_list").empty();
                var ul = $('<ul class="traking-items"/>');
                var li = $("<li class='header'>");
                li.append('<span class="first name">' + "نام" + '</span>');
                li.append('<span class="last name">' + "نام خانوادگی" + '</span>');
				li.append('<span class="destination">' + "مقصد" + '</span>');
                li.append('<span class="traking no">' + "شماره پیگیری" + '</span>');
                li.append('<span class="date">' + "تاریخ" + '</span>');
                ul.append(li);
				var i = 0;
                $(a).each(function (index, item) {
					i++;
					if(i>50)
						return;
                    var li = $("<li>");
                    //FirstName: "Esmaeel", LastName: "Zekaee", TrakingNo: "125441124", Date: "1397/05/08"
                    li.append('<span class="first name">' + item.FirstName + '</span>');
                    li.append('<span class="last name">' + item.LastName + '</span>');
					li.append('<span class="destination">' + item.Destination + '</span>');
                    li.append('<span class="traking no">' + item.TrakingNo + '</span>');
                    li.append('<span class="date">' + item.Date + '</span>');
                    ul.append(li);
                });
                console.log(ul);
                $("#traking_list").append(ul);
            });
        });
    });
</script><br/>
<div class="workshop_alert">
    <ol style="font-size: 14px; color: crimson">
        <li>*کاربر گرامی: درصورتی که موفق به دریافت شماره مرسوله پستی خود شده‌اید می‌توانید با مراجعه به لینک زیر و با در دست داشتن شماره مرسوله از وضعیت پستی سفارش خود مطلع گردید.</li>
        <li>*همچنین توجه داشته باشید که برای دریافت شماره مرسوله پستی می‌بایست پس از 24 ساعت در روز‌های کاری از ثبت سفارش شما گذشته باشد.</li>
        <li>*روز‌های پنج شنبه عصر و روز جمعه و ایام تعطیل جزء روزهای کاری نمی‌باشد.</li>
    </ol><br/>
    <a style="font-size:1rem;color:#56d1e8;"href="http://newtracking.post.ir/" target="_blank"> پیگیری مرسوله پستی کلیک کنید</a>
</div>