﻿@font-face {
    font-family: IRANYekan;
    src: url(../fonts/IranYekan.eot);
    src: url(../fonts/IranYekan.eot?#iefix) format("embedded-opentype"),url(../fonts/IranYekan.woff2) format("woff2"),url(../fonts/IranYekan.woff) format("woff"),url(../fonts/IranYekan.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: IRANYekan;
    src: url(../fonts/IranYekan_Big.eot);
    src: url(../fonts/IranYekan_Big.eot?#iefix) format("embedded-opentype"),url(../fonts/IranYekan_Big.woff2) format("woff2"),url(../fonts/IranYekan_Big.woff) format("woff"),url(../fonts/IranYekan_Big.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: IRANYekan;
    src: url(../fonts/IranYekan_Huge.eot);
    src: url(../fonts/IranYekan_Huge.eot?#iefix) format("embedded-opentype"),url(../fonts/IranYekan_Huge.woff2) format("woff2"),url(../fonts/IranYekan_Huge.woff) format("woff"),url(../fonts/IranYekan_Huge.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: IRANSans;
    src: url(../fonts/IRANSans.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

