.item-box .btn-wrapper button:hover,
input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before,
.select input[type="checkbox"]:checked + label,
.select-boxes input[type="checkbox"]:checked + label,
.two-row-carousels .slick-arrow:hover,
.home-page-polls .answer input[type="radio"]:checked + label:before,
.answer input[type="radio"]:checked + label:before,
.pager li a:hover,
.pager li span,
.pager li.previous-page a:hover,
.pager li.next-page a:hover,
.pager li.first-page a:hover,
.pager li.last-page a:hover,
.ui-datepicker-header,
.ui-datepicker-calendar a.ui-state-active:hover,
.ui-datepicker-calendar a.ui-state-active,
.order-progress .active-step:not(.last) a:hover:before,
.opc .selector input[type="checkbox"]:checked ~ label:before,
.forum-search-box.search-box .search-box-button:hover,
.ico-wishlist .wishlist-qty,
.ico-cart .cart-qty,
.shopping-cart-link .cart-qty,
.selected-options-list > li span,
.header-menu .close-menu,
.close-side-menu,
.mobile-flyout-wrapper .close-side-menu,
.header-menu ul li.back-button,
.avatar-page .upload-image.valid + label,
.ui-slider-range,
.filters-button,
.quick-view-button a:hover,
.jCarouselMainWrapper .slick-next:hover,
.jCarouselMainWrapper .slick-prev:hover,
.blog-search-box .search-box-button:hover,
.sale-of-the-day-offer .timer-info-box,
.spc-products .slick-arrow:hover,
.nivo-directionNav a:hover,
.theme-roller .open-button {
  background-color: #ffde00;
}
.selected-options-list > li span:hover,
.theme-roller .open-button:hover,
.avatar-page .upload-image.valid + label:hover {
  background-color: #b39b00;
}
.link-rss:hover:before,
.field-validation-valid,
.username-available-status,
.cart a,
.data-table a,
.compare-products-table a,
.forums-table-section a,
.cart .product a:hover,
.data-table .product a:hover,
.compare-products-table .product a:hover,
.forums-table-section .product a:hover,
.cart .edit-item a,
.data-table .edit-item a,
.compare-products-table .edit-item a,
.forums-table-section .edit-item a,
.mini-shopping-cart .count a:hover,
.mini-shopping-cart .price,
.mini-shopping-cart .totals strong,
.login-form-in-header .in-header-register .register-button:hover,
.login-form-in-header .inputs input:focus + .inputs-icons,
.footer-block a:hover,
.social-sharing a:hover:before,
.footer-block .title:before,
.footer-block .title:after,
.block .title:before,
.block .list li.active > a,
.block .list a:hover,
.block .view-all a,
.block .tags li a:hover,
.product-tags-all-page li a:hover,
.poll > strong,
.block .answer label:hover,
.breadcrumb a:hover,
.breadcrumb a:hover span,
.item-box .actual-price,
.item-box .tax-shipping-info a,
.vendor-item:hover .title a,
.manufacturer-item:hover .title a,
.category-grid .item-box:hover .title a,
.product-name .manufacturers .value,
.overview .manufacturers .value,
.product-review-links a:hover,
.product-no-reviews a:hover,
.compare-products .add-to-compare-list-button:hover,
.compare-products .add-to-compare-list-button:hover:before,
.back-in-stock-subscription:hover:before,
.overview .additional-details div .value a,
.variant-overview .additional-details div .value a,
.download-sample a,
.product-social-sharing li a:hover:before,
.email-a-friend:hover:before,
.overview .product-price,
.variant-overview .product-price,
.tier-prices .item-price,
.product-tags-list a,
.ui-tabs .ui-tabs-nav li a:hover,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-state-active.ui-tabs-active a,
.ui-tabs .submitReviewResult,
.product-review-helpfulness .vote:hover:before,
.wishlist-page .share-info a,
.compare-products-mobile .price .item span,
.email-a-friend-page .title a,
.accept-privacy-policy .read,
.account-page .button-2.return-items-button:hover,
.account-page .button-2.return-items-button:hover:before,
.order-total td label,
.order-total td span,
.cart-total .order-total,
.terms-of-service .read,
.cart-collaterals > div > .title:hover,
.cart-collaterals > div > .title:before,
.cart-collaterals .message-success,
.checkout-page .add-button .btn-holder.open:before,
.order-completed .order-number,
.opc > li.allow:not(.active) .step-title:after,
.opc > li.active .step-title .number,
.opc > li.active .step-title .title,
.order-details-page .order-overview .order-number,
.sitemap-page a,
.post-date,
.news-date,
.post-navigation a:before,
.post-navigation a:after,
.back-to-all-button:hover,
.back-to-all-button:hover:before,
.blog-page .tags li,
.blogpost-page .tags a,
.read-comments:hover,
.read-comments:hover:before,
.new-comment .result,
.news-list-homepage .view-all a,
.news-list-homepage .view-all a:after,
.current-time,
.forum-search-box .advanced > a:hover,
.forum-table a:hover,
.topic-post .pm-button:before,
.topic-post .post-vote > .vote.up:hover:before,
.topic-post .post-vote > .vote.down:hover:before,
.compare-products-table .product-price td,
.order-progress .active-step.last a span,
.category-navigation-list-wrapper ul li:hover > a,
.category-navigation-list-wrapper ul li:hover > span,
.category-navigation-list-wrapper ul li:hover > a:after,
.header-links a:hover,
.header-links a:hover:before,
.block.block-recently-viewed-products .list a:hover,
.block-account-navigation.block .list a:hover,
.block-account-navigation.block .list a:hover:after,
.block-account-navigation.block .list a.active,
.block-account-navigation.block .list a.active:after,
.header-selectors-wrapper > div input[type="radio"]:checked + label,
.ajaxCart .k-window-titlebar.k-header .k-window-actions .k-icon:hover:before,
.productAddedToCartWindowDescription strong,
.clearFilterOptionsAll:hover,
.filter-block .toggleControl:before,
.filter-block a.clearFilterOptions:hover:before,
.filter-block a.clearPriceRangeFilter:hover:before,
.picture-thumbs .slick-prev:hover:before,
.picture-thumbs .slick-next:hover:before,
.instant-search-item .detail .price,
.home-page .jCarouselMainWrapper.small-products .nop-jcarousel .carousel-title:before,
.mega-menu .sublist li:hover > a,
.category-navigation-list .dropdown .box .title a,
.category-navigation-list .dropdown .box .subcategory-item a:hover,
.mega-menu .manufacturers .box:hover .title,
.mega-menu .vendors .box:hover .title,
.previous-product a:before,
.next-product a:before,
.quickView .k-window-titlebar.k-header .k-window-actions a:hover:before,
.quickViewWindow #accordion > h3 span:before,
.quickViewWindow .product-variant .product-price,
.ropc .section .title:after,
.ropc .coupon-box-panel .message-success,
.ropc .giftcard-box-panel .message-success,
.ropc .cart-total .cart-total-row span,
.sale-of-the-day-offer .product-name a:hover,
.sale-of-the-day-offer .price.actual-price,
.sale-of-the-day-offer .slick-arrow:hover:before,
.rich-blog-homepage .view-all a,
.rich-blog-homepage .view-all a:after,
.blog-search-results .search-term-highlighter,
.share-post li a:hover:before,
.post-relations li a,
.spc-products .spc-header li:hover,
.spc-categories .navigation li:hover,
.spc-header li.active,
.spc-categories .navigation li.active,
.spc-categories .category-title,
.spc-categories .category-sublist a:hover,
.spc-categories .slick-prev:hover:before,
.spc-categories .slick-next:hover:before,
.advantages-item .title a:hover {
  color: #ffde00;
}
.product-name .manufacturers .value:hover,
.product-tags-list a:hover:hover,
.overview .additional-details div .value a:hover,
.variant-overview .additional-details div .value a:hover,
.terms-of-service .read:hover,
.download-sample a:hover,
.sitemap-page a:hover,
.blog-page .tags a:hover,
.blogpost-page .tags a:hover,
.product-tags-list a:hover,
.cart .edit-item a:hover,
.news-list-homepage .view-all a:hover,
.news-list-homepage .view-all a:hover:after,
.manufacturers .value:hover,
.block .view-all a:hover,
.data-table a:hover,
.forums-table-section a:hover,
.category-navigation-list .dropdown .box .title a:hover,
.rich-blog-homepage .view-all a:hover,
.rich-blog-homepage .view-all a:hover:after,
.post-relations li a:hover,
.spc-categories .category-title a:hover {
  color: #b39b00;
}
.ajax-loading-block-window:before,
.ajax-loading-block-window:after,
.two-row-carousels .slick-arrow:hover,
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-state-active.ui-tabs-active a,
.order-progress .active-step.last a:before,
.block-account-navigation.block .list a.active,
.nopAjaxCartPanelAjaxBusy:before,
.nopAjaxCartPanelAjaxBusy:after,
.miniProductDetailsPanelAjaxBusy:before,
.miniProductDetailsPanelAjaxBusy:after,
.ui-slider-handle,
.productPanelAjaxBusy:before,
.productPanelAjaxBusy:after,
.infinite-scroll-loader:before,
.infinite-scroll-loader:after,
.cloudzoom-ajax-loader:before,
.cloudzoom-ajax-loader:after,
.jCarouselMainWrapper .slick-next:hover,
.jCarouselMainWrapper .slick-prev:hover,
.quickView .k-loading-image:before,
.quickView .k-loading-image:after,
.quickView .cloudzoom-ajax-loader:before,
.quickView .cloudzoom-ajax-loader:after,
.panel-loader-effect .spinner:before,
.panel-loader-effect .spinner:after,
.spc-categories .loading-overlay:before,
.spc-categories .loading-overlay:after,
.spc-body .loading-overlay:before,
.spc-body .loading-overlay:after,
.spc-products .slick-arrow:hover {
  border-color: #ffde00;
}
.pager li a:hover,
.pager li span {
  border-color: #ffde00 !important;
}
.button-1,
.eu-cookie-bar-notification button,
.login-form-in-header .login-button,
.category-navigation-list-wrapper:hover .category-navigation-title,
.newsletter-email .newsletter-subscribe-button,
.home-page-polls .poll .buttons input,
.contact-vendor-button,
.item-box .buttons .button-2:hover,
.grouped-btn:hover,
.write-review .title strong,
.comment-form-btn strong,
.write-review .button-1,
.qq-uploader .qq-upload-button,
.blog-posts .read-more,
.news-items .read-more,
.forums-table-section .view-all a,
.topic-post .post-actions .quote-post-button,
.ropc .complete-button button,
.spc-categories .category-picture .spc-to-all-products,
.jCarouselMainWrapper .slick-dots .slick-active button,
.sale-of-the-day-offer .owl-dot.active {
  background-color: #d32637;
}
.button-1:hover,
.eu-cookie-bar-notification button:hover,
.mini-shopping-cart input[type="button"]:hover,
.login-form-in-header .login-button:hover,
.search-box .search-box-button:hover,
.newsletter-email .newsletter-subscribe-button:hover,
.poll .buttons input:hover,
.contact-vendor-button:hover,
.product-reviews-page .title .write-review-title:hover,
.write-review .button-1:hover,
.qq-uploader .qq-upload-button:hover,
.blog-posts .read-more:hover,
.news-items .read-more:hover,
.open-comment-form:hover,
.forums-table-section .view-all a:hover,
.topic-post .post-actions .quote-post-button:hover,
.ropc .complete-button button:hover {
  background-color: #b0202e;
}
@media all and (min-width: 1025px) {
  .search-box .search-box-button,
  .center-2 .product-list .item-box .buttons .button-2 {
    background-color: #d32637;
  }
  .center-2 .product-list .item-box .buttons .button-2:hover {
    background-color: #b0202e;
  }
}
.header-links a:hover{
color: #d32637 !important;
}
.header-links a:hover, .header-links a:hover:before {
color: #d32637 !important;
}


@media (min-width: 1025px){
.header {
    background-color: #FFDE00 !important;
}
}


.full-description{
  text-align: justify;
}

.item-box .buttons .button-2{
     font: normal 12px 'Roboto', sans-serif !important;
}

.breadcrumb li {
    font-size: 12px;
}

.compare-products .add-to-compare-list-button {
 
    font: normal 12px 'Roboto', sans-serif;
}
.category-navigation-list-wrapper ul li a, .category-navigation-list-wrapper ul li > span {
  
    font-weight: 400;
}

.infotitle{
	border-bottom: 4px solid #ff3333;
    padding: 0 2px 0 12px;
    color: #828282;
}
.infofile {
    /* padding-right: 9px; */
    margin-bottom: 20px;
}
.infofile ul{
    padding-right: 0px;
    margin-bottom: 20px;
    list-style: none;
    margin: 0px;
}
.infofile ul li{
width: 100%;
    border-bottom: 1px solid #D8E6E7;
    border-right: 5px solid #D8E6E7;
    padding: 6px 9px 7px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
	text-decoration: none
}
button
{
font-family: 'Roboto';
}

input
{
font-family: 'Roboto';
}

.button-1{
font-weight: normal; 
}
.overview .add-to-cart-button, .variant-overview .add-to-cart-button {
    font-size: 13px;
}

.overview .add-to-wishlist button {
    font-weight: normal;
    
}
.item-box .product-title, .item-box .title{
    height: 60px;
}

.spc-categories .navigation li:hover{
	    color: #ef5661;
}
.spc-categories .navigation li:hover{
	    color: #ef5661;
}

.spc-categories .category-title {
	    color: #d32637;
    font-weight: 100;
    font-size: 21px;
}

.spc-categories .navigation li.active{
	      color: #ef5661;
    font-weight: normal;
}
.item-box .actual-price {
	    color: #ef5661 ;
    font-weight: 100;
}
.ico-wishlist .wishlist-qty ,.ico-cart .cart-qty
{
	    color: #ef5661 ;
}

.overview .short-description,.category-description p, .manufacturer-description, .vendor-description, .manufacturer-description p, .vendor-description p, .full-description p, .topic-html-content p, .topic-page p, .post-body p, .news-body p, .custom-tab p, .ui-dialog-content p {
	    line-height: 2.2;
}
.header-menu > ul > li > a, .header-menu > ul > li > span {
	  font-weight: 100; 
}
		.mega-menu .manufacturers .title, .mega-menu .vendors .title {
			font-weight: 100 ;
		}
	.category-navigation-title {
font-weight: 100 ;
font-size: 17px;
		}
.category-page .home-page-filter-selectors
		{
			    max-width: 730px;
		}

.advantages-item .title {
    letter-spacing: 0px;
font-weight: 100 ;
}

.nop-jcarousel .carousel-title strong {

    font-weight: 100;
    font-size: 25px;
}

.spc-categories .category-sublist li {
    font-size: 15px;
    color: #444444;
}

.qq-upload-list li {
	width: calc(100% - -4px);
    height: 44px;
}



.category-navigation-list-wrapper ul li:hover > a, .category-navigation-list-wrapper ul li:hover > span, .category-navigation-list-wrapper ul li:hover > a:after,.mega-menu .manufacturers .box:hover .title {

        color: #171717;
}

.spc-categories .category-sublist a:hover,.spc-categories .category-title a:hover ,.manufacturer-item:hover .title a {

        color: red;
}

.pager li a:hover, .pager li span {
    border-color: #cc2939 !important;
    background-color: #cc2939;
}
.pager li span {
    border-color: #cc2939 !important;
    background-color: #cc2939;
}
.topic-block a, .topic-page a {
    text-decoration: none;
}

    input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before, .select input[type="checkbox"]:checked + label, .select-boxes input[type="checkbox"]:checked + label {
        background-color: #dd2424 !important;
    }
.product-item.sevenspikes-ajaxcart .product-rating-box
{
	display:none!important;
}
.product-item.sevenspikes-ajaxcart .price.old-price{
	display:block;
}

@media only screen and (max-width: 768px) {
#PureChatWidget.purechat.purechat-bottom-right{
right:0px!important;
}
#PureChatWidget {
}
}