﻿@model  IList<BlogPostModel7Spikes>

<div class="rich-blog-homepage">
    <div class="title">
        <strong>@T("SevenSpikes.RichBlog.Public.LatestFromBlog")</strong>
    </div>
    <div class="blog-posts">
        @foreach (var post in Model)
        {
            <div class="blog-post">
                <div class="post-primary">
                    @if (!string.IsNullOrWhiteSpace(post.HomePagePictureUrl))
                    {
                        <a class="post-picture" href="@(string.Format("{0}{1}", Url.RouteUrl("HomePage"), post.SeName))">
                            <img src="@post.HomePagePictureUrl" alt="@post.Title" title="@post.Title" />
                        </a>
                    }
                    <span class="post-date">
                        <span class="day">@post.CreatedOn.Day.ToString("00")</span>
                        <span class="month">@post.CreatedOn.ToString("MMM")</span>
                        <span class="year">@post.CreatedOn.Year</span>
                    </span>
                    <a class="read-more" href="@(string.Format("{0}{1}", Url.RouteUrl("HomePage"), post.SeName))">@T("SevenSpikes.RichBlog.Public.ReadMore")</a>
                </div>
                <div class="post-details">
                    <a class="post-title" href="@(string.Format("{0}{1}", Url.RouteUrl("HomePage"), post.SeName))">@post.Title</a>
                    <div class="post-description">
                        @Html.Raw(!String.IsNullOrEmpty(post.BodyOverview) ? post.BodyOverview : post.Body)
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="view-all">
        <a href="@Url.RouteUrl("Blog")">@T("SevenSpikes.RichBlog.Public.ViewAllBlogPosts")</a>
    </div>
</div>