﻿@using Nop.Core
@using Nop.Services.Configuration
@inject ISettingService settingService
@inject IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");

    var homePageProductsCarouselBreakPoints =
        settingService.GetSettingByKey("EmporiumThemeSettings.ResponsiveBreakpointsForHomePageProducts", "", storeContext.CurrentStore.Id, true);
}

<input id="home-page-carousel-breakpoints" type="hidden" value="@homePageProductsCarouselBreakPoints" />

<div class="page home-page">
    <div class="page-body">
	
	@await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageService" })

        
	@await Component.InvokeAsync("HomepageNews")	        
        @await Component.InvokeAsync("HomepageCategories")
        
		<div class="search-new-books-container">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageTop })
		@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeNews })
		</div>
    
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforePoll })
        @await Component.InvokeAsync("HomepagePolls")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBottom })
        @await Component.InvokeAsync("Widget", new { widgetZone = "emporium_home_page_sale_of_the_day" })

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeProducts })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeBestSellers })
		@*
        <div class="two-row-carousels small-products">
            @await Component.InvokeAsync("HomepageProducts")
            @await Component.InvokeAsync("HomepageBestSellers")
        </div>*@
    </div>
	
	@await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText" })
</div>
