﻿@model Nop.Plugin.Widgets.ProductAttachments.Models.ProductAttachmentListModel
@using Microsoft.AspNetCore.Routing;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.UI
@using Nop.Web.Framework
@using Nop.Web.Framework.Controllers
@using Nop.Web.Framework.Mvc
@{
    Layout = "";
    //int productId = Convert.ToInt32(System.Web.HttpContext.Current.Request.RequestContext.RouteData.Values["ID"]);
    //int productId = Convert.ToInt32(Url.ActionContext.RouteData.Values["ID"].ToString());

    var httpContextAccessor = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Microsoft.AspNetCore.Http.IHttpContextAccessor>();
    var productId = Convert.ToInt32(httpContextAccessor.HttpContext.GetRouteValue("ID"));


    //int ProductId = Convert.ToInt32(RouteData.Values["ID"]);
    //Html.AddCssFileParts("~/Administration/Content/fileuploader.css");
    //Html.AddScriptParts("~/Administration/Scripts/fileuploader.js");

    Html.AddCssFileParts("~/lib/fineuploader/fineuploader-4.2.2.min.css");
    Html.AddScriptParts("~/lib/fineuploader/jquery.fineuploader-4.2.2.min.js");
}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="attachment-grid"></div>
        </div>
    </div>
</div>

<p>
    <strong>@T("Admin.Catalog.Products.Attachment.AddNew")</strong>
</p>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="clientId1uploader"></div>
        </div>
    </div>
</div>



<script>
$(document).ready(function () {
    $("#attachment-grid").kendoGrid({
        dataSource: {
            type: "json",
            transport: {
                read: {
                    url: "@Html.Raw(Url.Action("ProductAttachmentSelect", "ProductAttachments", new RouteValueDictionary() { { "id", productId } }))",
                    type: "POST",
                    dataType: "json"
                },
                create: {
                    url: "@Html.Raw(Url.Action("ProductAttachmentCreate", "ProductAttachments", new RouteValueDictionary() { { "id", productId } }))",
                    type: "POST",
                    dataType: "json"
                },
                update: {
                    url: "@Html.Raw(Url.Action("ProductAttachmentEdit", "ProductAttachments", new RouteValueDictionary() ))",
                    type: "POST",
                    dataType: "json"
                },
                destroy: {
                    url: "@Html.Raw(Url.Action("ProductAttachmentDelete", "ProductAttachments", new RouteValueDictionary() ))",
                    type: "POST",
                    dataType: "json"
                },
                parameterMap: function (data, operation) {
                    if (operation != "read") {
                        return data;
                    } else {
                        //for some reasons only such "Filter" data be parsed
                        return JSON.stringify(data);
                    }
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "Id",
                    fields: {
                        DownloadGuid: { editable: false, type: "string" },
                        DisplayFileName: { editable: true, type: "string" },
                        DisplayOrder: { editable: true, type: "number" },
                        CustomerRole: { editable: true, type: "number" },
                        Role: { editable: true, type: "string" },
                        Id: { editable: false, type: "number" },
                        Link: { editable: true, type: "string" },
                        PictureThumbnailUrl: { type: "string" },
                        PictureId:{ type: "number" }
                    }
                }
            },
            requestEnd: function (e) {
                if (e.type == "create" || e.type == "update") {
                    this.read();
                }
            },
            error: function (e) {
                display_kendoui_grid_error(e);
                // Cancel the changes
                this.cancelChanges();
            },
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        },
        pageable: {
            refresh: true,
            numeric: false,
            previousNext: false,
            info: false
        },
        editable: {
            confirmation: false,
            mode: "inline"
        },
        scrollable: false,
        columns: [
        {
            field: "PictureThumbnailUrl",
            title: "@T("Admin.Catalog.Products.Attachment.Fields.PictureThumbnailUrl")",
            template: '<img src="#=PictureThumbnailUrl#" />',
            editor: fileUploadEditor,
            width: 80
        },
        {
            field: "DownloadGuid",
            title: "@T("Admin.Catalog.Products.Attachment.Fields.DownloadGuid")",
            width: 50,
            template:
                '<a href="@Url.Content("~/Admin/Plugins/ProductAttachments/ProductAttachments/DownloadFile?downloadGuid=")#=DownloadGuid#">Download</a>',


        },
        {
            field: "DisplayFileName",
            title: "@T("Admin.Catalog.Products.Attachment.Fields.DisplayFileName")",
            width: 300
        },

        @*{
field: "Link",
title: "@T("Admin.Catalog.Products.Attachment.Fields.Link")",
width: 300
},*@
        {
            field: "DisplayOrder",
            title: "@T("Admin.Catalog.Products.Attachment.Fields.DisplayOrder")",
            width: 50
        },
        {
            field: "CustomerRole",
            title: "@T("Admin.Catalog.Products.Attachment.Fields.CustomerRole")",
            width: 150,
            editor: customerRoleDropDownEditor,
            template: "#:Role#"
        },
        {
            command: [{
                name: "edit",
                text: "@T("Admin.Common.Edit")"
            }, {
                name: "destroy",
                text: "@T("Admin.Common.Delete")"
            }],
            width: 100,
            filterable: false
        }
        ],
        //toolbar: [{ name: 'create', text: 'New link' }]
    });

    function onUploadComplete()
    {
        var grid = $('#attachment-grid').data('kendoGrid');
        grid.dataSource.read();
    }

    function onSelect(e) {
        $.each(e.files, function (index, value) {
            var ok = value.extension == ".JPG"
                    || value.extension == ".JPEG"
                    || value.extension == ".jpg"
                    || value.extension == ".jpeg"
                    || value.extension == ".png"
                    || value.extension == ".PNG"
                    || value.extension == ".BMP"
                    || value.extension == ".bmp"
                    || value.extension == ".ico"
                    || value.extension == ".ICO";

            if (!ok){
                e.preventDefault();
                alert("Please upload (jpq, png, bmp, ico) image files");
            }
        });
    }
	
    function fileUploadEditor(container, options) {
        var currentValue = String(options.model["Id"]);
        var myUrl = '@(Url.Content("~/Admin/Plugins/ProductAttachments/ProductAttachments/AsyncUploadImages/"))';

        if(currentValue!="0")
        {
            myUrl = '@(Url.Content("~/Admin/Plugins/ProductAttachments/ProductAttachments/AsyncUploadImages"))'+'?id='+currentValue;

            $('<input type="file" name="fileUpload" id="fileUpload" />')
                .appendTo(container)
                .kendoUpload({
                    async: {
                        saveUrl: myUrl
                    },
                    multiple: false,
                    complete: onUploadComplete,
                    select: onSelect
                });
        }
    }

});



var allCustomerRoles = [
{
Id : 0,
Name : "@T("Admin.Catalog.Products.TierPrices.Fields.CustomerRole.All")"
}
@{
var customerService = EngineContext.Current.Resolve<Nop.Services.Customers.ICustomerService>();
var allCustomerRoles = customerService.GetAllCustomerRoles(true);
}
@foreach (var customerRole in allCustomerRoles)
{
<text>
    , {
        Id: @(customerRole.Id),
        @*Name: "@(Html.Raw(HttpUtility.JavaScriptStringEncode(customerRole.Name)))"*@
        Name: "@(JavaScriptEncoder.Default.Encode(customerRole.Name))"
    }
    </text>
}
];

function customerRoleDropDownEditor(container, options) {
    $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:CustomerRole"/>')
        .appendTo(container)
        .kendoDropDownList({
            autoBind: false,
            dataSource: allCustomerRoles
        });
}

</script>

@*fine uploader template (keep it synchronized to \Content\fineuploader\templates\default.html)*@
<script type="text/template" id="clientId1-qq-template">
    <div class="qq-uploader-selector qq-uploader">
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span>@T("Common.FileUploader.DropFiles")</span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>@T("Common.FileUploader.Upload")</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>@T("Common.FileUploader.Processing")</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">@T("Common.FileUploader.Cancel")</a>
                <a class="qq-upload-retry-selector qq-upload-retry" href="#">@T("Common.FileUploader.Retry")</a>
                <a class="qq-upload-delete-selector qq-upload-delete" href="#">@T("Common.FileUploader.Delete")</a>
                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
    </div>
</script>

<script type="text/javascript">

$(document).ready(function () {
    $("#clientId1uploader").fineUploader({
        request: {
            endpoint: '@(Url.Content("~/Admin/ProductAttachments/AsyncUpload/"+productId))'
        },
        template: "clientId1-qq-template",
        multiple: false,
    }).on("complete", function (event, id, name, responseJSON, xhr) {
        //$('#AttachmentId').val(responseJSON.attachmentId);
        var grid = $('#attachment-grid').data('kendoGrid');
        grid.dataSource.read();
    });
});
</script>