﻿@model IList<PaymentMethodCorrespondingAccount>
@{
    Layout = "_AdminLayout";
}
<form asp-controller="NopforestAdminApi" asp-action="PaymentMethodAccounts" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("TODO.add.your.name")
            </div>
            <div class="panel-body">

                @for (var i = 0; i < Model.Count(); i++)
                {
				<br/>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>@Model[i].PaymentMethodFriendlyName</label>
                        </div>
                        <div class="col-md-5">
                            <label>@T("NopForest.Admin.Api.CorrespondingAccount.CorrespondingAccount")</label>
                            @Html.HiddenFor(x => x[i].PaymentMethodSystemName)
                            @Html.TextBoxFor(x => x[i].CorrespondingAccount, new {@class = "form-control"})
                        </div>
                        <div class="col-md-4">
                            <label>@T("NopForest.Admin.Api.CorrespondingAccount.HasReceipt")</label>
                            @Html.CheckBoxFor(x => x[i].HasReceipt, new {@class = "checkbox"})
                        </div>
                    </div>
					<br/>
					<br/>
					<br/>
                }
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>