﻿@model Nop.Web.Framework.Models.ISettingsModel
@{
    var info = ViewBag.Info as INopforestPluginInfo ?? new BasePluginInfo();
}
@inject ISettingModelService SettingModelService
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T(info.FriendlyNameKey)
            </div>
            <div class="panel-body">
                @foreach (var settingPropertyInfo in SettingModelService.GetProperties(Model))
                {
                    var value = settingPropertyInfo.PropertyInfo.GetValue(Model);
                    var name = settingPropertyInfo.PropertyInfo.Name;
                    var id1 = settingPropertyInfo.PropertyInfo.Name;
                    <div class="form-group">
                        <div class="col-md-3">
                            @*@if (settingPropertyInfo.HasOverrideForStore)
                                {
                                    <nop-override-store-checkbox asp-for="@settingPropertyInfo.HasOverrideForStore" asp-input="@settingPropertyInfo.PropertyInfo.Name" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                }*@
                            <div class="label-wrapper">
                                <label class="control-label" for="@id1">@T(settingPropertyInfo.Attributes.Name)</label>
                                <div title="@T(settingPropertyInfo.Attributes.Name)" data-toggle="tooltip" class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">

                            @switch (settingPropertyInfo.Attributes.UiType)
                            {
                                case UiType.Checkbox:
                                    @Html.CheckBox(@name, (bool?)value, new { @class = "check-box" })
                                    break;
                                case UiType.TextBox:
                                    @Html.TextBox(@name, value?.ToString(), new { @class = "form-control text-box" })
                                    break;
                                case UiType.TextArea:
                                    @Html.TextArea(@name, value?.ToString(), new { @class = "form-control" })
                                    break;
                                case UiType.RadioButton:
                                case UiType.Dropdown:
                                    if (settingPropertyInfo.Attributes.ValueProvider != null)
                                    {
                                        var provider = EngineContext.Current.Resolve(settingPropertyInfo.Attributes.ValueProvider) as ISettingFieldValueProvider;
                                        var items = provider?.GetItems() ?? new SelectListItem[0];
                                        @Html.DropDownList(@name, items, "", new { @class = "form-control" })
                                    }
                                    break;
                                case UiType.Picture:
                                    <input type="hidden" name="@name" />
                                    break;
                                default:
                                    throw new Exception("Invalid ui type");
                            }
                            <span class="field-validation-valid" data-valmsg-for="@id1" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="panel-group">
    <div class="panel panel-info">
        <div class="panel-body">
            <form asp-action="Resources" method="post">
                <div class="btn-group">
                    <a url="@info.DebugUrl" class="btn bg-warning">@T("Nopforest.DebugUrl")</a>
                    <a url="@info.HelpUrl" class="btn bg-green">@T("Nopforest.HelpUrl")</a>
                    <a url="@info.DebugUrl" class="btn btn-primary">@T("Nopforest.Shop")</a>
                    <button class="btn btn-default" type="submit">@T("Nopforest.InstallResources")</button>
                    <button class="btn btn-danger" name="uninstall" type="submit">@T("Nopforest.UninstallResources")</button>
                </div>
            </form>
        </div>
    </div>
</div>
