﻿@model Nopforest.Plugin.Payments.Saderat.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<script>
	$(document).ready(function () {
	    $("#@Html.IdFor(model => model.AddSuccessNote)").click(toggleAddSuccessNote);
	    $("#@Html.IdFor(model => model.AddFailureNote)").click(toggleAddFailureNote);
	    toggleAddSuccessNote();
	    toggleAddFailureNote();
	});

    function toggleAddSuccessNote() {
	    if ($('#@Html.IdFor(model => model.AddSuccessNote)').is(':checked')) {
			$('#displaySuccessNote').show();
		}
		else {
	        $('#displaySuccessNote').hide();
		}
	}

    function toggleAddFailureNote() {
	    if ($('#@Html.IdFor(model => model.AddFailureNote)').is(':checked')) {
	        $('#displayFailureNote').show();
	        $('#maxNotes').show();
		}
		else {
	        $('#displayFailureNote').hide();
	        $('#maxNotes').hide();
		}
    }
</script>

<form asp-controller="Saderat" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ShippableProductRequiredOverrideForStore" asp-input="ShippableProductRequired" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ShippableProductRequired" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ShippableProductRequired" />
                        <span asp-validation-for="ShippableProductRequired"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeeOverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentageOverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TerminalIdOverrideForStore" asp-input="TerminalId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TerminalId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TerminalId" />
                        <span asp-validation-for="TerminalId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UserNameOverrideForStore" asp-input="UserName" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UserName" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UserName" />
                        <span asp-validation-for="UserName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UserPasswordOverrideForStore" asp-input="UserPassword" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="UserPassword" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UserPassword" />
                        <span asp-validation-for="UserPassword"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PayementUrlOverrideForStore" asp-input="PayementUrl" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PayementUrl" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PayementUrl" />
                        <span asp-validation-for="PayementUrl"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="WebServiceUrlOverrideForStore" asp-input="WebServiceUrl" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="WebServiceUrl" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="WebServiceUrl" />
                        <span asp-validation-for="WebServiceUrl"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AddSuccessNoteOverrideForStore" asp-input="AddSuccessNote" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AddSuccessNote" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddSuccessNote" />
                        <span asp-validation-for="AddSuccessNote"></span>
                    </div>
                </div>
                <div class="form-group" id="displaySuccessNote">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="DisplaySuccessNoteToCustomerOverrideForStore" asp-input="DisplaySuccessNoteToCustomer" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="DisplaySuccessNoteToCustomer" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DisplaySuccessNoteToCustomer" />
                        <span asp-validation-for="DisplaySuccessNoteToCustomer"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AddFailureNoteOverrideForStore" asp-input="AddFailureNote" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AddFailureNote" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddFailureNote" />
                        <span asp-validation-for="AddFailureNote"></span>
                    </div>
                </div>
                <div class="form-group" id="displayFailureNote">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="DisplayFailureNoteToCustomerOverrideForStore" asp-input="DisplayFailureNoteToCustomer" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="DisplayFailureNoteToCustomer" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DisplayFailureNoteToCustomer" />
                        <span asp-validation-for="DisplayFailureNoteToCustomer"></span>
                    </div>
                </div>
                <div class="form-group" id="maxNotes">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MaxAllowedNotesOverrideForStore" asp-input="MaxAllowedNotes" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MaxAllowedNotes" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MaxAllowedNotes" />
                        <span asp-validation-for="MaxAllowedNotes"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>