
.nivo-directionNav a {
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 0;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    border-radius: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .2s ease;
}

.nivo-prevNav {
    left: 15px;
}

.nivo-nextNav {
    right: 15px;
}

.nivo-directionNav a:hover {
    background-color: #97c300;
}

.nivo-directionNav a:before {
    display: block;
    font-family: "emporium-icons";
    color: #fff;
    font-size: 12px;
}

.nivo-directionNav a.nivo-prevNav:before {
    content: "\6b";
}

.nivo-directionNav a.nivo-nextNav:before {
    content: "\6a";
}

.slider-wrapper {
    position: relative;
    width: 82.2vw;
    margin: auto;
    float: none;
    border: solid 1px #555;
    border-radius: 5px;
    margin-top: 20px;
}

    .slider-wrapper img {
        border-radius: 5px;
    }

.nivo-controlNav {
    text-align: center;
    position: absolute;
    top: auto;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 7;
    padding: 0;
}


    .nivo-controlNav a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        font-size: 0;
        margin: 0 4px;
    }

        .nivo-controlNav a:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: #000;
            width: 6px;
            height: 6px;
            opacity: .4;
            transition: all .2s ease;
        }

        .nivo-controlNav a:hover:before {
            width: 10px;
            height: 10px;
            background-color: #fff;
            opacity: 1;
        }

        .nivo-controlNav a.active:before {
            opacity: 1;
            width: 10px;
            height: 10px;
            background-color: #fff;
            box-shadow: 0 0 0 3px rgba(0,0,0,.4);
        }

    .nivo-controlNav.nivo-thumbs-enabled {
        margin: 0;
    }

        .nivo-controlNav.nivo-thumbs-enabled a {
            width: 120px;
            height: auto;
            border-radius: 0;
            margin: 10px 5px 0;
            box-shadow: none;
            background: none !important;
        }

.nivo-caption {
    top: 0;
    bottom: auto;
    background: rgba(255,255,255,.6);
    color: #555;
    font-size: 18px;
    opacity: 1;
    padding: 14px;
    text-align: center;
}

    .nivo-caption p {
        padding: 0;
    }

/***** HOME BANNERS *****/

.theme-home-banners {
    margin-bottom: 50px;
}

    .theme-home-banners + .theme-home-banners {
        margin-top: -40px;
    }

@media all and (max-width:768px) {
    .nivo-controlNav.nivo-thumbs-enabled {
        position: relative;
        transform: none;
        left: auto;
        bottom: auto;
    }
}


@media all and (min-width: 768px) {
    .theme-home-banners + .theme-home-banners {
        margin-top: -30px;
    }
}

@media all and (min-width: 1025px) {
    .theme-home-banners {
        float: left;
        width: calc(50% - 10px);
        margin: 0 0 70px !important;
    }

        .theme-home-banners a img {
            backface-visibility: hidden;
            transition: opacity .2s ease;
        }

        .theme-home-banners a:hover img {
            opacity: .8;
        }

        .theme-home-banners + .theme-home-banners {
            margin-top: 0;
            margin-left: 20px !important;
        }

            .theme-home-banners + .theme-home-banners + div {
                clear: both;
            }
}
