﻿@model NopForest.Plugin.Modaresan.Sharif.Domain.FileModel
<div id="upload-attribute-values-excel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="upload-attribute-values-excel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@T("Admin.Common.ImportFromExcel")</h4>
            </div>
            <form asp-controller="NopForestModaresan" asp-action="UploadProductAttributeValues" id="upload-excel" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <em>@T("Nopforest.ProductAttributeValues.ImportFromExcelTip")</em>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="ExcelFile" name="ExcelFile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" nopforest-event="upload">
                            @T("Admin.Common.ImportFromExcel")
                        </button>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<button class="btn bg-olive" type="button" data-toggle="modal" data-target="#upload-attribute-values-excel-window">
    <i class="fa fa-upload"></i>
    @T("Nopforest.ProductAttributeValues.Upload")
</button>

<form asp-controller="NopForestModaresan" method="get" id="download-excel" asp-action="DownloadProductAttributeValues">
    <input type="hidden" asp-for="Id" />
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            @T("Admin.Catalog.Products.ProductAttributeValues.Export")
        </button>
    </div>
</form>

<script>
    if ("@TempData["ExcelFileModel.Tab.Selected"]" === "True") {
            $("[data-tab-name=download-attribute-values-excel]").click();
        }
    $("#upload-attribute-values-excel-window").appendTo("body");

    $("[nopforest-event=download]").on("click",
        function() {
            event.preventDefault();
            $("#download-excel").submit();
    });

    $("[nopforest-event=upload]").on("click",
        function() {
            event.preventDefault();
            $("#upload-excel").submit();
    });
</script>
