﻿@using Nop.Services.Localization
@model NopForest.Plugin.Modaresan.Sharif.Models.ModaresanSettingModel
@inject ILocalizationService LocalizationService
@{
    Layout = "_ConfigurePlugin";
}

<div>
    <form asp-action="DeletePaymentMethodRolePairs" method="post">
        <p>
            @T("NopForest.Plugin.Modaresan.Sharif.PaymentMethodRolePair.Tips")
        </p>
        <ul style="list-style: none">
            @foreach (var item in Model.PaymentMethodRolePairs)
            {
                <li>
                    <input type="checkbox" name="model[]" value="@item.PaymentMethodName-@item.CustomerRoleId" />
                    @string.Format(LocalizationService.GetResource("NopForest.Plugin.Modaresan.Sharif.Models.List.Item.Template"), item.CustomerRoleName, item.PaymentMethodDescription)
                </li>
            }

        </ul>
        <button type="submit">
            @T("NopForest.Plugin.Modaresan.Sharif.Common.Delete")
        </button>
    </form>

    <form method="post" asp-action="AddPaymentMethodRolePair">
        <p>
            @T("NopForest.Plugin.Modaresan.Sharif.AddPaymentMethodRolePair.Tips")
        </p>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="PaymentMethodName" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="PaymentMethodName" asp-items="Model.PaymentMethods" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="CustomerRoleId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="CustomerRoleId" asp-items="Model.AvailableCustomerRoles" />
            </div>
        </div>
        <button type="submit">
            @T("NopForest.Plugin.Modaresan.Sharif.Common.Add")
        </button>
    </form>

</div>
