﻿@using Nopforest.Plugin.Messages.Sms.Models
@model Nopforest.Plugin.Messages.Sms.Models.SmsAccountSettingsModel
@{
    Layout = "_ConfigurePlugin";
}
@T("SMS.Broadcaster.Configuration.Settings.Hint")
<div asp-validation-summary="ModelOnly">

</div>
<form asp-route="Admin/SmsBroadcaster" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AddressMobileFieldPropertyName" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddressMobileFieldPropertyName" asp-required="true" />
                        <span asp-validation-for="AddressMobileFieldPropertyName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="CustomerMobileFieldPropertyName" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CustomerMobileFieldPropertyName" asp-required="true" />
                        <span asp-validation-for="CustomerMobileFieldPropertyName"></span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" class="btn btn-default" value="@T("Admin.Common.Save")" />
            </div>
        </div>
    </div>
</form>