﻿@using Nop.Core
@using NopForest.Plugin.Widgets.Calendar
@using NopForest.Plugin.Widgets.Calendar.Services
@inject Nop.Services.Configuration.ISettingService SettingService
@inject IBundleService BundleService
@inject IWorkContext WorkContext
@{
    var settings = SettingService.LoadSetting<CalendarSettings>() ?? new CalendarSettings();
}
@if (settings.CalendarType == CalendarType.Persian)
{
    <style>
        .date-picker-wrapper {
            display: none !important;
        }

        .k-datepicker {
            display: none !important;
        }

        .k-datetimepicker {
            display: none !important;
        }
    </style>
    <text>
        <script>
            var getDatetimeFormat = function () {
                return "@settings.DatetimeFormat";
            }
        </script>
    </text>
    if (WorkContext.IsAdmin)
    {
        @Html.Raw(BundleService.GetCssScripts())
        @Html.Raw(BundleService.GetJsScripts())
        <text>
            <script type="text/javascript" language="javascript">
                window.numberClasses = [];
            </script>
            <style>
                .date-picker-wrapper {
                    display: none !important;
                }

                .k-datepicker {
                    display: none !important;
                }

                .k-datetimepicker {
                    display: none !important;
                }
            </style>
        </text>
    }
    else
    {
        foreach (var cssScript in BundleService.GetCssFilesScripts())
        {
            Html.AddCssFileParts($"~{cssScript}");
        }
        foreach (var jsScript in BundleService.GetJsFilesScripts())
        {
            Html.AddScriptParts($"~{jsScript}");
        }
        <text>
            <div class="numberic-classes" style="display: none;" data-numberic-classes="@(settings.NumberClasses?.Split(",").Select(x => $"'{x}'").Aggregate((a, b) => $"{a},{b}") ?? "")"></div>
        </text>
    }
}
