﻿@model NopForest.Plugin.Widgets.Calendar.Models.CalendarSettingsModel
<style type="text/css">
        #@Html.IdFor(m => m.DatetimeFormat){
            direction:ltr;
        }
</style>
@{
    Layout = "_ConfigurePlugin";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="CalendarType" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="CalendarType" asp-items="@Html.GetEnumSelectList(typeof(NopForest.Plugin.Widgets.Calendar.CalendarType))" />
                        <span asp-validation-for="CalendarType"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="DatetimeFormat" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DatetimeFormat" />
                        <span asp-validation-for="DatetimeFormat"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="NumberClasses" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="NumberClasses" />
                        <span asp-validation-for="NumberClasses"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="FixGrid" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="FixGrid" />
                        <span asp-validation-for="FixGrid"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-9">
                            <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="menu">
        <div class="header">
            <a href="http://nopforest.com">
                <img class="logo" />
                NopForest
            </a>
        </div>
        <div class="items">
            <a class="item">
                <i></i>
                @T("NopForest.Plugin.Common.RateThis")
            </a>
            <a class="item">
                <i></i>
                @T("NopForest.Plugin.Common.ReportBug")
            </a>
            <a class="item">
                <i></i>
                @T("NopForest.Plugin.Common.SeeMore")
            </a>
        </div>
    </div>
}

<form asp-controller="NopForestCalendar" asp-action="InstallResources" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="form-group">
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-9">
                            <input type="submit" name="save" class="btn bg-blue" value="@T("NopForest.Plugin.Widgets.Calendar.InstallResources")" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
