﻿/*iframe {
        text-align: center;
    position: absolute;
    left: 20%;
    top: -200px;
}*/

   .video-title {
       font-size: 12px;
   }

@media all and (max-width: 1000px) {
  


}
@media all and (min-width: 481px) {
    iframe {
       
}

}

@media all and (min-width: 769px) {
   

}
@media all and (min-width: 1001px) {
   

}
@media all and (min-width: 1367px) {
   

}
