﻿@model HomePageNewsItemsModel
<style>

    .news-body {
    }

    .news-list-homepage {
    }

    @@media only screen and (min-width: 768px) {
        .news-list-homepage .title {
            width: 25%;
            border-top-left-radius: 10px;
        }
    }

    .news-list-homepage .title {
        background-color: #f6f6f6;
        font-size: 16px;
        margin-bottom: 0;
    }

    .news-list-homepage .news-items {
        display: inline-block;
        font-size: 14px;
        /*padding:5px;*/
    }

    .news-list-homepage .news-item {
        padding: 2px;
        margin-bottom: 2px;
        /*border-radius:5px;*/
    }

    .news-list-homepage .news-title {
        font-size: 14px;
    }

    .news-body * {
        margin: 0 !important;
    }

    .news-body p {
        margin: 0 !important;
        height: auto !important;
    }

    .news-items {
        display: flex !important;
        justify-content: center;
        margin: 10px 0!important;
    }

    .news-item {
        height: 100px !important;
        padding: 0;
    }
</style>
<div class="news-body">
    @if (Model.NewsItems.Count > 0)
{
    <div class="news-list-homepage">
        @*<div class="title">
                @T("News")
            </div>*@
        @*<div class="view-all">
                <a href="@Url.RouteUrl("NewsArchive")">@T("News.ViewAll")</a>
            </div>*@
        <div class="news-items">
            @foreach (var item in Model.NewsItems)
            {
            <div class="news-item">
                <div class="news-head">
                    @*<span class="news-date">@item.CreatedOn.ToString("dd MMM yyyy")</span>*@
                    @*<a class="news-title" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">*@
                    @Html.Raw(item.Full)
                    @*</a>*@
                </div>
                @*
                    <div class="news-body">
                        @Html.Raw(item.Short)
                    </div>
                *@
                @*<div class="buttons">
                        <a href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })" class="read-more">@T("News.MoreInfo")</a>
                    </div>*@
            </div>
            }
        </div>
    </div>

}
</div>