﻿@{
    Layout = "_ConfigurePlugin";
}
@model Nop.Plugin.Widgets.ProductAttachments.Models.ConfigurationModel
@using Nop.Web.Framework;

<form asp-controller="WidgetsProductAttachment" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">@T("Plugins.Widgets.QuickCart.Configuration")</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="ZoneId" />
                                </div>
                                <div class="col-md-9">
                                    <nop-select asp-for="ZoneId" asp-items="Model.AvailableZones" />
                                    <span asp-validation-for="ZoneId"></span>
                                </div>
                                <div class="col-md-3">
                                    <nop-label asp-for="ChangeImageByDefault" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="ChangeImageByDefault" />
                                    <span asp-validation-for="ChangeImageByDefault"></span>
                                </div>
                                <div class="col-md-3">
                                    <nop-label asp-for="NewIconSet" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="NewIconSet" />
                                    <span asp-validation-for="NewIconSet"></span>
                                </div>
                                <div class="col-md-3">
                                    <nop-label asp-for="DeleteFile" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="DeleteFile" />
                                    <span asp-validation-for="DeleteFile"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="FilesStoredIntoDatabase" />
                                </div>
                                <div class="col-md-9">
                                    @if (Model.FilesStoredIntoDatabase)
                                    {
                                        <input class="form-control text-box single-line valid" id="FilesStoredIntoDatabase" name="FilesStoredIntoDatabase" type="text" disabled="disabled" value="@T("Admin.ContentManagement.Widgets.FilesStoredIntoDatabase.Database")">
                                    }
                                    else
                                    {
                                        <input class="form-control text-box single-line valid" id="FilesStoredIntoDatabase" name="FilesStoredIntoDatabase" type="text" disabled="disabled" value="@T("Admin.ContentManagement.Widgets.FilesStoredIntoDatabase.FileSystem")">
                                    }
                                </div>
                                <div class="col-md-3">&nbsp;</div>
                                <div class="col-md-9">
                                    <input type="submit" name="change-file-storage" class="k-button" onclick="return confirm('@T("Admin.ContentManagement.Widgets.AreYouSure")');" value="@T("Admin.ContentManagement.Widgets.FilesStoredIntoDatabase.Change")" />
                                    @T("Admin.ContentManagement.Widgets.FilesStoredIntoDatabase.Note")
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel-group">
                    <div class="panel">
                        <div class="panel-heading">
                            <img src="https://www.nop4you.com/Themes/QuickTemplate/Content/images/thumbs/logo-nop4you.png" style="width: 100px;" />
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="https://www.nopcommerce.com/p/1035/product-attachment-widget.aspx" target="_blank" class="list-group-item"><i class="fa fa-star" aria-hidden="true"></i> Please rate</a>
                                <a href="https://www.nop4you.com/contactus" target="_blank" class="list-group-item"><i class="fa fa-bug" aria-hidden="true"></i> Report bug</a>
                                <a href="https://www.nop4you.com" target="_blank" class="list-group-item list-group-item-success"><i class="fa fa-plug" aria-hidden="true"></i> More plugins</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
