﻿@model Nop.Plugin.Widgets.ProductAttachments.Models.ProductAttachmentListModel

@using Nop.Web.Framework.UI;
@using Nop.Web.Framework.Localization;
@using Nop.Services.Localization;
@using Nop.Core;
@{
    Html.AppendCssFileParts("~/Plugins/Widgets.ProductAttachments/Content/style.css");
    var settings = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Plugin.Widgets.ProductAttachments.ProductAttachmentSettings>();
}

@if (Model.ProductAttachments.Count > 0)
{
    <div class="box-attachments">
        <h2>@T("Products.Attachments")</h2>

        @foreach (var it in Model.ProductAttachments)
        {
            <div>
                <a target="_blank" title="@(it.DisplayFileName)" href="@Url.RouteUrl("Nop.Plugin.Widgets.ProductAttachment.DownloadFile", new { downloadGuid = it.DownloadGuid })">
                    @if (settings.ChangeImageByDefault)
                    {
                        var image = "";
                        if (settings.NewIconSet)
                        {
                            switch (it.Extension)
                            {
                                case ".zip":
                                case ".rar":
                                case ".7z":
                                    {
                                        image = "Plugins/Widgets.ProductAttachments/Content/image/icon/zip.png";
                                    }
                                    break;
                                case ".txt":
                                    image = "Plugins/Widgets.ProductAttachments/Content/image/icon/txt.png";
                                    break;
                                case ".xls":
                                case ".xlsx":
                                    {
                                        image = "Plugins/Widgets.ProductAttachments/Content/image/icon/xls.png";
                                    }
                                    break;
                                case ".doc":
                                case ".docx":
                                    {
                                        image = "Plugins/Widgets.ProductAttachments/Content/image/icon/doc.png";
                                    }
                                    break;
                                case ".pdf":
                                    image = "Plugins/Widgets.ProductAttachments/Content/image/icon/pdf.png";
                                    break;
                                case ".css":
                                    image = "Plugins/Widgets.ProductAttachments/Content/image/icon/css.png";
                                    break;
                                case ".avi":
                                case ".mov":
                                    {
                                        image = "Plugins/Widgets.ProductAttachments/Content/image/icon/avi.png";
                                    }
                                    break;
                                case ".mp3":
                                    {
                                        image = "Plugins/Widgets.ProductAttachments/Content/image/icon/mp3.png";
                                    }
                                    break;
                                case ".jpg":
                                case ".jpeg":
                                case ".png":
                                case ".bmp":
                                    {
                                        image = "Plugins/Widgets.ProductAttachments/Content/image/icon/jpg.png";
                                    }
                                    break;
                                default:
                                    image = "Plugins/Widgets.ProductAttachments/Content/image/icon/default.png";
                                    break;
                            }
                            <img src="@image" style="vertical-align: middle; padding-right: 10px;height: 30px;"> @(it.DisplayFileName)
                        }
                        else
                        {
                            switch (it.Extension)
                            {
                                case ".zip":
                                case ".rar":
                                case ".7z":
                                    {
                                        image = "Plugins/Widgets.ProductAttachments/Content/image/zip.png";
                                    }
                                    break;
                                case ".txt":
                                    image = "Plugins/Widgets.ProductAttachments/Content/image/txt.png";
                                    break;
                                case ".xls":
                                case ".xlsx":
                                    {
                                        image = "Plugins/Widgets.ProductAttachments/Content/image/xls.png";
                                    }
                                    break;
                                case ".doc":
                                case ".docx":
                                    {
                                        image = "Plugins/Widgets.ProductAttachments/Content/image/doc.png";
                                    }
                                    break;
                                case ".pdf":
                                    image = "Plugins/Widgets.ProductAttachments/Content/image/pdf.png";
                                    break;
                                default:
                                    image = "Plugins/Widgets.ProductAttachments/Content/image/attachment.png";
                                    break;
                            }
                            <img src="@image" style="vertical-align: middle; padding-right: 10px;height: 30px;"> @(it.DisplayFileName)
                        }

                    }
                    else
                    {
                        <img src="@(it.PictureThumbnailUrl)" style="vertical-align: middle; padding-right: 10px;    max-width: 10%;"> @(it.DisplayFileName)
                    }
                </a>
            </div>
        }
    </div>
}