﻿@using Nopforest.Plugin.Messages.Broadcaster.Model
@model Nopforest.Plugin.Messages.Broadcaster.Model.MessageBroadcasterSettingsModel
@inject Nop.Core.IWebHelper webHelper
@{
    Layout = "_ConfigurePlugin";
}
@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="MessageBroadcaster" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                @*@Html.Raw(T("Plugins.Payments.Pay.Instructions", $"{webHelper.GetStoreLocation()}Plugins/PaymentPay/PDTHandler"))*@
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="hidden" asp-for="AllBroadcasters" />
                        <nop-override-store-checkbox asp-for="ActiveBroadcastersNames_OverrideForStore" asp-input="ActiveBroadcasterIds" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ActiveBroadcasterIds" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-multiple="true" asp-for="ActiveBroadcasterIds" asp-items="Model.ActiveBroadcasters" />
                        <span asp-validation-for="ActiveBroadcasterIds"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>