﻿@using Nop.Core
@using Nop.Services.Catalog
@model MiniShoppingCartModel

@inject IWorkContext workContext
@inject IPriceFormatter priceFormatter;

@{
    var subZero = priceFormatter.FormatPrice(0m, false, workContext.WorkingCurrency, workContext.WorkingLanguage, true);
}


<div id="flyout-cart" class="flyout-cart" data-removeItemFromCartUrl="@Url.Action("RemoveItemFromCart", "EmporiumTheme")" data-flyoutCartUrl="@Url.Action("FlyoutShoppingCart", "EmporiumTheme")">
    <div id="topcartlink">
        <a href="@Url.RouteUrl("ShoppingCart")" class="ico-cart">
            <span class="cart-qty">@Model.TotalProducts</span>
            @*<span class="cart-label">
                @if (Model.TotalProducts == 0)
                {
                    @subZero
                }
                else
                {
                    @Model.SubTotal
                }
            </span>*@
			&nbsp; @T("SevenSpikes.Themes.Emporium.Common.ShoppingCart")&nbsp;
        </a>
    </div>
    <div class="mini-shopping-cart">
        <div class="flyout-cart-scroll-area">
            @if (Model.TotalProducts > 0)
            {
                <div class="items">
                    @for (var i = 0; i < Model.Items.Count; i++)
                    {
                        var item = Model.Items[i];
                        <div class="item @(i == 0 ? "first" : null)" data-shoppingCartId="@item.Id">
                            @if (Model.ShowProductImages)
                            {
                                <div class="picture">
                                    <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
                                        <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                    </a>
                                </div>
                            }
                            <div class="product">
                                <div class="left">
                                    <div class="name">
                                        <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                                    </div>
                                    @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                       @* <div class="attributes">
                                            @Html.Raw(item.AttributeInfo)
                                        </div>*@
                                    }
                                </div>
                                <div class="right">
                                    <div class="price">@*@T("ShoppingCart.Mini.UnitPrice"):*@ <span>@item.UnitPrice</span></div>
                                    <div class="quantity">@T("ShoppingCart.Mini.Quantity"): <span>@item.Quantity</span></div>
                                </div>
                                <a class="remove-item" href="javascript:;" title="remove">remove</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="flyout-lower">
                    <div class="count">
                        @if (Model.TotalProducts == 0)
                        {
                            @T("ShoppingCart.Mini.NoItems")
                        }
                        else
                        {
                            @Html.Raw(string.Format(@*T("ShoppingCart.Mini.ItemsText").Text,*@$"<a href=\"{Url.RouteUrl("ShoppingCart")}\">{string.Format(T("ShoppingCart.Mini.Items").Text, Model.TotalProducts)}</a>"))
                        }
                    </div>
                    <div class="totals">@T("ShoppingCart.Totals.SubTotal"): <strong>@Model.SubTotal</strong></div>
                    <div class="buttons">
                        @if (Model.DisplayCheckoutButton)
                        {
                            var checkoutUrl = "";
                            if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                            {
                                checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                            }
                            else
                            {
                                checkoutUrl = Url.RouteUrl("Checkout");
                            }
                            <input type="button" value="@T("Checkout.Button")" class="button-1 checkout-button" onclick="setLocation('@checkoutUrl')" />
                        }
                        @if (Model.DisplayShoppingCartButton)
                        {
                            <input type="button" value="@T("ShoppingCart.Mini.ViewCart")" class="button-1 cart-button" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')" />

                        }
                    </div>
                </div>
            }
            else
            {
                <p>@T("ShoppingCart.Mini.NoItems")</p>
            }
        </div>
    </div>
</div>