﻿@using Nopforest.Plugin.Messages.Sms.Models
@model Nopforest.Plugin.Messages.Sms.Models.SmsAccountModel

<div asp-validation-summary="ModelOnly"></div>
<input asp-for="Id" type="hidden" />
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_sms_account_details_top", additionalData = Model.Id })
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Number" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Number" asp-required="true" />
                            <span asp-validation-for="Number"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="MonitoringNumber" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="MonitoringNumber" asp-required="true" />
                            <span asp-validation-for="MonitoringNumber"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="DisplayName" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="DisplayName" asp-required="true" />
                            <span asp-validation-for="DisplayName"></span>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Host"/>
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Host"/>
                            <span asp-validation-for="Host"></span>
                        </div>*@

                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="ServiceName" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="ServiceName" asp-items="Model.SmsServices" />
                            <span asp-validation-for="ServiceName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Username" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Username" />
                            <span asp-validation-for="Username"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Password" />
                        </div>
                        <div class="col-md-9">
                            <div class="input-group">
                                <nop-editor asp-for="Password" />
                                <div class="input-group-btn">
                                    @if (Model.Id > 0)
                                    {
                                        <button type="submit" name="changepassword" class="btn btn-info">
                                            @T("Admin.Configuration.SmsAccounts.Fields.Password.Change")
                                        </button>
                                    }
                                </div>
                            </div>
                            <span asp-validation-for="Password"></span>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Id > 0)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Admin.Configuration.SmsAccounts.SendTestSms")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="SendTestSmsTo" />
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <nop-editor asp-for="SendTestSmsTo" />
                                    <div class="input-group-btn">
                                        <button type="submit" name="sendtestsms" class="btn btn-info">
                                            @T("Admin.Configuration.SmsAccounts.SendTestSms.Button")
                                        </button>
                                    </div>
                                </div>
                                <span asp-validation-for="SendTestSmsTo"></span>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_sms_account_details_bottom", additionalData = Model.Id })
        </div>
    </div>
</div>
