﻿@using Nopforest.Plugin.Messages.Sms.Models
@model Nopforest.Plugin.Messages.Sms.Models.SmsAccountModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.SmsAccounts.EditSmsAccountDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Sms Account");
}

<form asp-controller="SmsAccount" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.SmsAccounts.EditSmsAccountDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Configuration.SmsAccounts.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="smsAccount-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_sms_account_details_buttons", additionalData = Model.Id })
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/NopForest.Messages.Sms/Views/SmsAccount/_CreateOrUpdate.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="smsAccount-delete" />
