﻿@{
    //page title
    ViewBag.Title = T("Admin.Configuration.SmsAccounts").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Sms Account");
}
<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Configuration.SmsAccounts")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_sms_account_list_buttons" })
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="sms-accounts-grid"></div>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            $("#sms-accounts-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "SmsAccount"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    numeric: false,
                                    previousNext: false,
                                    info: false,
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                {
                                    field: "Number",
                                    title: "@T("Admin.Configuration.SmsAccounts.Fields.Number")"
                                }, {
                                    field: "DisplayName",
                                    title: "@T("Admin.Configuration.SmsAccounts.Fields.DisplayName")",
                                    width: 200
                                }, {
                                    field: "IsDefaultSmsAccount",
                                    title: "@T("Admin.Configuration.SmsAccounts.Fields.IsDefaultSmsAccount")",
                                    width: 200,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                        template: '# if(IsDefaultSmsAccount) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Configuration.SmsAccounts.Fields.MarkAsDefaultSms")",
                                    template: '<a href="@Url.Content("~/Admin/SmsAccount/MarkAsDefaultSms/")#=Id#" class="btn bg-green">@T("Admin.Configuration.SmsAccounts.Fields.MarkAsDefaultSms")</a>'
                                }, {
                                    field: "Id",
                                    title: "@T("Admin.Common.Edit")",
                                    width: 100,
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    }
                                ]
                            });
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>