﻿.box-attachments { background:#e5e5e5  0 0 repeat-x; padding:25px;}
.box-attachments h2 { font-weight:bold; font-size:15px;     color: #d32637;border-bottom: 1px solid #ffffff;; padding:0 0 1px; margin:0 0 15px; }

.ext-pdf{
font-size:12px;
background-image: url('./image/pdf.png');
background-repeat: no-repeat;
background-position: left;
padding-left: 20px;
}

.ext-doc{
font-size:12px;
background-image: url('./image/doc.png');
background-repeat: no-repeat;
background-position: left;
padding-left: 20px;
}

.ext-txt{
font-size:12px;
background-image: url('./image/txt.png');
background-repeat: no-repeat;
background-position: left;
padding-left: 20px;
}

.ext-xls{
font-size:12px;
background-image: url('./image/xls.png');
background-repeat: no-repeat;
background-position: left;
padding-left: 20px;
}

.ext-zip{
font-size:12px;
background-image: url('./image/zip.png');
background-repeat: no-repeat;
background-position: left;
padding-left: 20px;
}