﻿@model SaleOfTheDayListModel
@inject SaleOfTheDaySettings saleOfTheDaySettings
@{
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.SaleOfTheDay/Themes/" + Model.Theme + "/Content/SaleOfTheDay.css");

    var supportRtl = this.ShouldUseRtlTheme();
    if (supportRtl)
    {
        Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.SaleOfTheDay/Themes/" + Model.Theme + "/Content/SaleOfTheDay.rtl.css");

    }

    Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Nop.Plugins.SaleOfTheDay/Scripts/owl.carousel.min.js");
    Html.AddCssFileParts("~/Plugins/SevenSpikes.Nop.Plugins.SaleOfTheDay/Styles/owl.carousel.css");

    bool hasAnySpecialPrice = Model.SaleOfTheDayOffers.Any(x => x.Products.Any(p => p.SpecialPriceEndDate.HasValue));

    if (hasAnySpecialPrice && saleOfTheDaySettings.ShowSpecialPriceCountdownTimer)
    {
        Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Core/Scripts/sevenspikes.core.min.js");
        Html.AddScriptParts(ResourceLocation.Footer, "~/Plugins/SevenSpikes.Nop.Plugins.SaleOfTheDay/Scripts/SaleOfTheDay.countdown.timer.min.js");
    }
}

<div class="sale-of-the-day-offer">
    @foreach (var offer in Model.SaleOfTheDayOffers)
    {
        @*<div class="title">
                <strong>@offer.Title</strong>
            </div>*@
        <div class="grid @if (offer.Products.Count > 1) {<text>owl-carousel</text>} else { <text>no-carousel</text> } ">
            @foreach (var product in offer.Products)
            {
                <div class="product-element sale-of-the-day-product-@offer.Id-@product.ProductOverviewModel.Id" data-productid="@product.ProductOverviewModel.Id">
                    <div class="sale-item @if (product.SpecialPriceEndDate.HasValue) { <text>timed-offer</text> }">
                        <!--product pictures-->
                        <div class="item-gallery">
                            <div class="item-picture">
                                <a href="@Url.RouteUrl("Product", new { SeName = product.ProductOverviewModel.SeName })" title="@product.ProductOverviewModel.Name">
                                    <img alt="@product.ProductOverviewModel.DefaultPictureModel.AlternateText" src="@product.ProductOverviewModel.DefaultPictureModel.ImageUrl" title="@product.ProductOverviewModel.DefaultPictureModel.Title" />
                                </a>
                                <!--countdown timer-->
                                @if (saleOfTheDaySettings.ShowSpecialPriceCountdownTimer)
                                {
                                    if (product.SpecialPriceEndDate.HasValue)
                                    {
                                        int dateTimeDifference = (int)(product.SpecialPriceEndDate.Value - DateTime.UtcNow).TotalSeconds;

                                        <div class="countdown-timer" data-time="@dateTimeDifference">
                                            <div class="timer-group days">
                                                <span class="timer-info-box"></span>
                                                <span class="timer-info-text"></span>
                                            </div>
                                            <div class="timer-group hours">
                                                <span class="timer-info-box"></span>
                                                <span class="timer-info-text"></span>
                                            </div>
                                            <div class="timer-group minutes">
                                                <span class="timer-info-box"></span>
                                                <span class="timer-info-text"></span>
                                            </div>
                                            <div class="timer-group seconds">
                                                <span class="timer-info-box"></span>
                                                <span class="timer-info-text"></span>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            @if (product.PictureModels != null && product.PictureModels.Count > 1)
                            {
                                <div class="picture-thumbs">
                                    @for (int i = 0; i < product.PictureModels.Count; i++)
                                    {
                                        var picture = product.PictureModels[i];

                                        var activeClass = "";
                                        if (i == 0)
                                        {
                                            activeClass = "active";
                                        }

                                        <a class="thumb-item @activeClass" href="@picture.FullSizeImageUrl" title="@product.ProductOverviewModel.Name">
                                            <img src="@picture.ImageUrl" alt="@picture.AlternateText" title="@picture.Title" />
                                        </a>
                                    }
                                </div>

                                <script type="text/javascript">

                                    $('.sale-of-the-day-offer').on('click', '.sale-of-the-day-product-@offer.Id-@product.ProductOverviewModel.Id .thumb-item', function (e) {
                                        e.preventDefault();

                                        var that = $(this);

                                        var fullImageUrl = that.attr('href');
                                        if (fullImageUrl == undefined || fullImageUrl == '') {
                                            return;
                                        }

                                        $('.sale-of-the-day-product-@offer.Id-@product.ProductOverviewModel.Id').find(".item-picture img").each(function () {
                                            $(this).attr('src', fullImageUrl);
                                        });

                                        $('.sale-of-the-day-product-@offer.Id-@product.ProductOverviewModel.Id').find(".picture-thumbs a").removeClass('active');

                                        $('.sale-of-the-day-product-@offer.Id-@product.ProductOverviewModel.Id').find(".picture-thumbs a[href='" + fullImageUrl + "']").each(function () {
                                            $(this).addClass('active');
                                        });
                                    });

                                </script>
                            }
                        </div>
                        @if (offer.Products.Count > 1)
                        {
                            <div class="item-navigation-buttons">
                                <button class="previous-button" onclick="$('.owl-controls .owl-prev').click()">Previous</button>
                                <button class="next-button" onclick="$('.owl-controls .owl-next').click()">Next</button>
                            </div>
                        }
                        <div class="overview">
                            <div class="product-name">
                                <h2 class="item-name">
                                    <a href="@Url.RouteUrl("Product", new { SeName = product.ProductOverviewModel.SeName })">@product.ProductOverviewModel.Name</a>
                                </h2>
                            </div>
                            @if (!String.IsNullOrEmpty(product.ProductOverviewModel.ShortDescription))
                            {
                                <div class="short-description">
                                    @Html.Raw(product.ProductOverviewModel.ShortDescription)
                                </div>
                            }
                            <!--price-->
                            <div class="prices">
                                <span class="price actual-price">@product.ProductOverviewModel.ProductPrice.Price</span>
                                @if (!String.IsNullOrEmpty(product.ProductOverviewModel.ProductPrice.OldPrice))
                                {
                                    <span class="price old-price">@product.ProductOverviewModel.ProductPrice.OldPrice</span>
                                }
                                @if (product.ProductOverviewModel.ProductPrice.DisplayTaxShippingInfo)
                                {
                                    var inclTax = EngineContext.Current.Resolve<IWorkContext>().TaxDisplayType == TaxDisplayType.IncludingTax;
                                    //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                                    //of course, you can modify appropriate locales to include VAT info there
                                    <div class="tax-shipping-info">
                                        @T(inclTax ? "Products.Price.TaxShipping.InclTax" : "Products.Price.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                                    </div>
                                }
                            </div>

                            <a href="@Url.RouteUrl("Product", new { SeName = product.ProductOverviewModel.SeName })" class="go-to-product-page">@T("SevenSpikes.SaleOfTheDay.Public.GoToProductPage")</a>
                        </div>

                        @*
                            @if (!String.IsNullOrEmpty(product.ProductOverviewModel.FullDescription))
                            {
                                <div class="full-description" itemprop="description">
                                    @Html.Raw(product.ProductOverviewModel.FullDescription)
                                </div>
                            }
                        *@
                    </div>
                </div>
            }
        </div>
    }

    <input type="hidden" id="saleOfTheDayInfo"
           data-localization-day="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Day")" data-localization-days="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Days")"
           data-localization-hour="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Hour")" data-localization-hours="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Hours")"
           data-localization-minute="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Minute")" data-localization-minutes="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Minutes")"
           data-localization-second="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Second")" data-localization-seconds="@T("SevenSpikes.Plugins.SaleOfTheDay.Public.Seconds")">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.sale-of-the-day-offer .owl-carousel').not('.initialized').each(function () {
            var that = $(this);

            if (that.find('.product-element').length > 1) {
                that.owlCarousel({
                    loop: true,
                    margin: 0,
                    nav: true,
                    center: true,
                    dots: false,
                    //autoHeight: true,
                    autoplay: false,
                    autoplayTimeout: 5000,
                    smartSpeed: 700,
                    autoplayHoverPause: true,
                    onInitialized: function () {
                        that.addClass('initialized');
                    },
                    responsive: {
                        0: {
                            items: 1,
                            touchDrag: true,
                            mouseDrag: true,
                            pullDrag: true
                        },
                        1200: {
                            items: 3,
                            touchDrag: false,
                            mouseDrag: false,
                            pullDrag: false
                        }
                    }
                });
            }
        });
    });
</script>