﻿@using Nopforest.Plugin.Messages.Sms.Models
@model Nopforest.Plugin.Messages.Sms.Models.SmsTemplateModel

@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.SmsTemplates.EditSmsTemplateDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Message templates");

}

<form asp-controller="SmsTemplate" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.SmsTemplates.EditSmsTemplateDetails") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.ContentManagement.SmsTemplates.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>

            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>

            <button type="submit" id="message-template-copy" name="message-template-copy" class="btn bg-green">
                <i class="fa fa-clone"></i>
                @T("Admin.ContentManagement.SmsTemplates.Copy")
            </button>
            <nop-action-confirmation asp-button-id="message-template-copy" />
            <span id="message-template-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_message_template_details_buttons", additionalData = Model.Id })
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/NopForest.Messages.Sms/Views/SmsTemplate/_CreateOrUpdate.cshtml", Model)
</form>