﻿@model Nopforest.Plugin.Messages.Sms.Models.QueuedSmsModel
@{
    ViewBag.Title = T("Admin.Configuration.QueuedSmsModel").Text;
}
<form asp-controller="QueuedSms" asp-action="Edit" method="post" dir="rtl">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.QueuedSmsModel") - @Model.Id
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Configuration.QueuedSms.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <div class="pull-right">
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.Save")
                </button>
            </div>
            <div class="pull-right">
                <button type="submit" name="save-send-message" class="btn bg-green">
                    <i class="fa fa-send"></i>
                    @T("Admin.Common.Send")
                </button>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-5">
                        <nop-label asp-for="To" />
                    </div>
                    <div class="col-md-7">
                        <nop-editor asp-for="To" />
                        <span asp-validation-for="To"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5">
                        <nop-label asp-for="Body" />
                    </div>
                    <div class="col-md-7">
                        <nop-textarea asp-for="Body" />
                        <span asp-validation-for="Body"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>