﻿@using Nop.Web.Framework.Infrastructure
@model Nopforest.Plugin.Messages.Sms.Models.QueuedSmsSearchModel
@{
    //page title
    ViewBag.Title = T("Nopforest.Plugin.Messages.QueuedSms").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("QueuedSms");
}
<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Nopforest.Plugin.Messages.QueuedSms")
    </h1>
    <div class="pull-right">
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.TopicListButtons })
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="From" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="From" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="To" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="To" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-queued_sms" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="queued_sms-grid"></div>
                    <script>
                        $(document).ready(function() {
                            $("#queued_sms-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("List", "QueuedSms"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: function() {
                                                var data = {
                                                    From: $('#From').val(),
                                                    To: $('#To').val()
                                                };
                                                addAntiForgeryToken(data);
                                                return data;
                                            }
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)]
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template:
                                            '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    },
                                    {
                                        field: "To",
                                        title: "@T("Nopforest.Plugin.Messages.QueuedSms.Fields.To")",
                                        width: 150,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" }
                                    }, {
                                        field: "Body",
                                        title: "@T("Nopforest.Plugin.Messages.QueuedSms.Fields.Body")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" }
                                    }, {
                                        field: "CreatedOnUtc",
                                        title: "@T("Nopforest.Plugin.Messages.QueuedSms.Fields.CreatedOnUtc")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        type: "date",
                                        format: "{0:G}"
                                    }, {
                                        field: "SentTries",
                                        title: "@T("Nopforest.Plugin.Messages.QueuedSms.Fields.SentTries")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" }
                                    }, {
                                        field: "SentOnUtc",
                                        title: "@T("Nopforest.Plugin.Messages.QueuedSms.Topics.Fields.SentOnUtc")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        type: "date",
                                        format: "{0:G}"
                                    }, {
                                        field: "SentReport",
                                        title: "@T("Nopforest.Plugin.Messages.QueuedSms.Topics.Fields.SentReport")",
                                        width: 100
                                    }
                                ]
                            });
                        });
                    </script>
                    <script>
                        $(document).ready(function () {
                            //search button
                            $('#search-queued_sms').click(function () {
                                //search
                                var grid = $('#queued_sms-grid').data('kendoGrid');
                                grid.dataSource.page(1);
                                return false;
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>