﻿@model Nopforest.Plugin.Messages.Sms.Models.NopForestPasswordRecoveryModel
@{
    Layout = "_ColumnsOne";
    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Html.Raw(Model.Result)
            </div>
        }
        else{
        <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
            <div class="fieldset">
                

                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="Mobile" asp-postfix=":"></label>
                        <input asp-for="Mobile"  />
                        <span asp-validation-for="Mobile"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
            </div>
        </form>
        }
    </div>
</div>