﻿@using System.Reflection.Metadata
@using Nop.Core
@using Nop.Core.Domain.Customers
@using Nop.Web.Framework.UI
@model Nop.Web.Models.Customer.RegisterResultModel
@inject IWorkContext WorkContext
@{
    Layout = "_ColumnsOne";
    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendScriptParts("~/Plugins/NopForest.Messages.Sms/Scripts/angular.min.js");
    Html.AppendPageCssClassParts("html-registration-result-page");
}
<form class="form-inline" asp-route="RegisterResult" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post">
    <div asp-validation-summary="ModelOnly" class="message-error"></div>
    <style>
        .hidden {
            display: none !important;
        }

        .result1 {
            text-align: center;
            width: 100%;
        }

            .result1.red {
                color: #8b0000;
            }

            .result1.green {
                color: darkgreen;
            }
    </style>

    <div class="page registration-result-page">
        <div class="page-title">
            <h1>@T("Account.Register")</h1>

        </div>
        <div class="page-body" ng-app="vApp" ng-controller="vCtrl">
            <input type="hidden" value="@ViewBag.Username" name="username" id="username" />
            @if (ViewBag.ResultId == (int)UserRegistrationType.EmailValidation)
            {
                <div class="result">
                    @Model.Result
                </div>
                <div ng-show="expiredCode" class="result1 red">
                    @T("Account.AccountActivation.ValidationCodeExpired")
                </div>
                <div ng-show="invalidCode" class="result1 red">
                    @T("Account.InvalidCode")
                </div>
                <div ng-show="validCode" class="result1 green">
                    @T("Account.AccountActivation.Activated")
                </div>
                <div class="form-group">
                    <label for="activationCode">@T("Account.Register.Activation.Code")</label>
                    <input type="text" class="form-control" ng-model="vCode" id="activationCode" placeholder="@T("Account.Register.Activation.Code.Hint")">
                    <small class="form-text text-muted">
                        <span ng-bind="time"></span>
                    </small>
                </div>
            }
            else
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            <div class="buttons">
                <input type="button" ng-show="timeout&&!validCode" ng-click="resend()" class="button-1 register-continue-button" value="@T("Account.Register.Result.Resend")" />
                <input type="button" ng-click="verify()" class="button-1 register-continue-button" value="@T("Account.Register.Result.Confirm")" />
                <input type="submit" id="registerContinue" ng-show="validCode" name="register-continue" class="button-1 register-continue-button" value="@T("Account.Register.Result.Continue")" />
            </div>
        </div>
    </div>
</form>
<script>
    var app = angular.module("vApp", []);
    app.controller("vCtrl", ["$scope", "$http", "$timeout", function ($scope, $http, $timeout) {
        $scope.vCode = "";
        $scope.validLen = false;
        $scope.time = 60;
        function update() {
            if ($scope.time > 0) {
                $scope.time = $scope.time - 1;
            } else {
                $scope.validCode = false;
                $scope.timeout = true;
            }
            $timeout(update, 1000, true);
        };
        update();
        $scope.resend = function() {
            $http({
                url: "@Url.RouteUrl("NopforestCustomerResendCode")",
                data: { username: "@ViewBag.Username" },
                headers: {'Content-Type' : 'application/json'},
                method: "POST"
            }).then(function (res) {
                res = res.data;
                switch (res.Status) {
                case 0:
                    //Successful
                    $scope.timeout = false;
                    $scope.time = 0;
                    $scope.vCode = "";
                    break;
                case 1:
                    //Customer not fund
                    window.location.href = "/";
                    break;
                case 2:
                    //Already active
                    window.location.href = "/";
                    break;
                    case 5:
                        alert(res.Status);
                        $scope.validCode = $scope.timeout = false;
                    //Expired time
                    break;
                default:
                }
            },function() {
                alert("@T("Account.Register.Result.Confirm.ServerError")");
            });
        }
        $scope.verify = function() {
            $http({
                url: "@Url.RouteUrl("NopforestAccountActivationPost")",
                data: { token: $scope.vCode, username: "@ViewBag.Username" },
                headers: {'Content-Type' : 'application/json'},
                method: "POST"
            }).then(function (res) {
                res = res.data;
                switch (res.Status) {
                    case 0:
                        //Successful
                        $scope.validCode = true;
                        break;
                    case 1:
                        //Customer not fund
                        window.location.href = "/";
                        break;
                    case 2:
                        //Already active
                        window.location.href = "/";
                        break;
                    case 3:
                        //$scope.timeout = false;
                        //$scope.time = 0;
                        $scope.vCode = "";
                        $scope.invalidCode = true;
                        //Invalid code
                        break;
                    case 4:
                        //$scope.expiredCode = true;
                        $scope.timeout = false;
                        //$scope.time = 0;
                        $scope.vCode = "";
                        //Expired time
                        break;
                    default:
                }
                },
                function() {
                    alert("@T("Account.Register.Result.Confirm.ServerError")");
                });
        }
        $scope.$watch("vCode", function (v)
        {
            if (v)
                $scope.validCode = $scope.invalidCode = $scope.expiredCode = false;
            $scope.validLen = (v && v.trim().length === 6);
        });
    }]);
</script>