/*
* Copyright 2015 Seven Spikes Ltd. All rights reserved. (http://www.nop-templates.com)
* http://www.nop-templates.com/t/licensinginfo
*/

/* Firefox fix with the popupnot being opened - http://www.telerik.com/forums/q1'14-release---popup-bug-in-firefox */
.k-ff {
    overflow: inherit !important;
}

#AjaxFiltersProForm {
    margin: 0 0 50px;
}
.home-page .slider-wrapper ~ #AjaxFiltersProForm {
    margin: -20px 0 50px;
}

.home-page-filters-wrapper {
    padding: 15px 20px;
    /*background: #cc2939;*/
    background-image: linear-gradient(#9f2933, #cc2939);
    border-bottom: 1px solid #ddd;
    border-radius: 0.2rem;
    text-align: center;
}
.home-page-filter-selectors {
    margin: 0 0 20px;
	overflow: hidden;
}
.home-page-filter-selector {
    background-color: darkred;
    margin: 10px 0 0;
}
.home-page-filter-selector:first-child {
    margin: 0;
}
.home-page-filter-selector .k-dropdown {
    display: inline-block;
    width: 70%;
}
.home-page-filter-selector span.k-dropdown-wrap {
    position: relative;
    text-align: left;
    display: block;
    font-size: 12px;
    color: #888;
    line-height: 1;
    height: 36px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 12px 36px 12px 12px;
    cursor: pointer;
}
.home-page-filter-selector span.k-dropdown-wrap.k-state-disabled {
    opacity: .5;
    cursor: default;
}
.home-page-filter-selector span.k-dropdown-wrap:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 24px;
	background: url(images/filters-select-icon.png) no-repeat center;
}
.home-page-filter-selector .k-select {
	display: none;
}

.home-page-filter-dropdown {
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0;
}
.home-page-filter-dropdown > ul {
    max-height: 200px;
    overflow-y: auto;
}
.home-page-filter-dropdown li {
	color: #888;
	font-size: 12px;
	padding: 8px 12px;
	cursor: pointer;
}
.home-page-filter-dropdown li:hover {
	background: #f9f9f9;
}

.home-page-filter-button {
    display: inline-block;
}
.home-page-filters-wrapper .search-button,
.home-page-filters-wrapper .results-number {
    float: left;
    color: #1b1b1b;
    font-size: 14px;
    line-height: 1; 
    background: #ffffff;       
}
.home-page-filters-wrapper .search-button {
	height: 40px;
    padding: 0 30px;
    margin-left: 1px;
    border: 0;
    text-transform: uppercase;
}
.home-page-filters-wrapper .search-button:hover {
    background-color: #dad2d2;
}
.home-page-filters-wrapper .results-number {
    display: none;
    padding: 13px 0;
    text-align: center;
    width: 40px;    
    height: 40px;
}
.home-page-filters-wrapper .results-number.loading {
    font-size: 0;
    background: #4ab2f1 url(images/loader.gif) no-repeat center;
}

@media all and (min-width: 481px) {
	
    .home-page-filter-selectors:after {
        content: '';
        display: block;
        clear: both;
    }
	.home-page-filter-selector .k-dropdown {
		width: 100%;
	}

}

@media all and (min-width: 481px) and (max-width: 768px) {
	
	.home-page .slider-wrapper ~ #AjaxFiltersProForm {
		max-width: 600px;
		margin: -20px auto 50px;
	}
	.home-page-filter-selectors {
		margin: 0 0 10px;
	}
    .home-page-filter-selector {
        float: left;
        width: 49%;
        margin: 0 0 2% 2%;
    }
	.home-page-filter-selector:nth-child(2n+1) {
		margin-bottom: 2%;
		margin-left: 0;
	}

}

@media all and (min-width: 769px) {

    .home-page-filter-selector {
        float: left;
        width: 24.25%;
        margin: 0 0 0 1%;
    }
	.home-page-filter-selector:first-child {
		margin-left: 0;
	}    

}

@media all and (min-width: 1001px) {
	
	.home-page .slider-wrapper ~ #AjaxFiltersProForm {
		margin: -40px 0 50px;
	}
    .home-page-filters:after {
        content: '';
        display: block;
        clear: both;
    }
    .home-page-filter-selectors {
        float: left;
        width: 730px;
        margin: 2px 0 0;
    }
    .home-page-filter-button {
        float: right;
    }

}

@media all and (min-width: 1367px) {

    .home-page-filter-selectors {
        width: 940px;
    }
    .home-page-filter-selector {
        width: 23.5%;
        margin: 0 0 0 2%;
    }

}