/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/


.slider-wrapper {
	margin-bottom: 10px;

}

.theme-navigation-inside .nivoSlider {
	position: relative;
	overflow: visible;
	background: #fff url('loading.gif') center no-repeat;
}
.theme-navigation-inside .nivoSlider a {
	display: block;
	border: 0;
}
.theme-navigation-inside .nivoSlider img {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}


/* DIRECTIONAL NAVIGATION */


.theme-navigation-inside .nivo-directionNav a {
	top: 0;
	width: 50px;
	height: 100%;
	border: 0;
	overflow: hidden;
	text-indent: 9999px;
	opacity: 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.theme-navigation-inside:hover .nivo-directionNav a {
	opacity: 1;
}
.theme-navigation-inside a.nivo-prevNav {
	background: rgba(0,0,0,0.6) url('arrow-left.png') center no-repeat;
}
.theme-navigation-inside a.nivo-nextNav {
	background: rgba(0,0,0,0.6) url('arrow-right.png') center no-repeat;
}


/* BULLET NAVIGATION */


.theme-navigation-inside .nivo-controlNav {
	position: relative;
	z-index: 7;
	margin-top: -35px; /*depending on the height of the bullets*/
	background: rgba(0,0,0,0.3);
	padding: 10px 0;
	text-align: center;
}
.theme-navigation-inside .nivo-controlNav a {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 2px;
	background: url('bullets.png') top no-repeat;
	overflow: hidden;
	text-indent: 9999px;
}
.theme-navigation-inside .nivo-controlNav a.active {
	background-position: bottom;
}


/* THUMBNAIL NAVIGATION */


.theme-navigation-inside .nivo-controlNav.nivo-thumbs-enabled {
	margin-top: 0;
	background: none;
}
.theme-navigation-inside .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	text-indent: 0; /*overrides bullets text-indent*/
}
.theme-navigation-inside .nivo-controlNav.nivo-thumbs-enabled img {
	width: 120px;
	height: auto;
}


/* CAPTION TITLE */


.theme-navigation-inside .nivo-caption {
	background: rgba(0,0,0,0.7);
	padding: 5px 10px;
	color: #ccc;
	font: italic 22px "Times New Roman", Times, serif;
	text-shadow: 0 0 2px #000;
}
.theme-navigation-inside .nivo-caption a {
	color: #fff;
	text-decoration: underline;
}
